body {
     /* the white surface*/
}


.main-header {
    background-color: blueviolet;
    text-align: center;
    border-bottom: 3px solid black;
}

.main-article {
    display: flex;
    background-color: rgb(255, 166, 0);
     /* controls its child, main-article*/
    border: 4px solid black;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 50px;
}

.main-article .items {
    margin: 30px;
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: blue;
}

.item-3 {
    background-color: yellow;
}

.item-4 {
    background-color: green;
}